 body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.navbar {
    background-color:rgb(13, 43, 80);
    padding: 8px;
  }
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  .navbar li {
    margin-right: 20px;
  }
  .navbar li a {
    color: white;
    text-decoration: none;
  }

img{
    width: 40%;
    height: 40%;
  }

.section-image,
.section-video,
.section-ai {
  background-color: grey;
  padding: 50px;
  height: 150px;
  border: 1px solid black;
}

.top-section{
  position: absolute;
  top: 45%;
  width: 91%;
}
.top {
  border: 1px solid black;
  height: 600px;
  background-image: url('../images/Top.jpg'); /* Replace 'your-image-url.jpg' with the URL of your background image */
  background-size: cover; /* This property scales the image to cover the entire container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.top p {
  color: white;
  font-size: 35px;
  text-align: center;
}

.image_text{
  font-size: 30px;
  font-weight: bold;
  display: flex;
  position: absolute;
  left: 35%;
  color: black;
}
.image_info{
  font-size: 20px;
  display: flex;
  position: absolute;
  top: 112%;
  left: 35%;
  width: 65%;
  color: white;
}
.image_image{
  display: flex;
  position: absolute;
  left: 1%;
  height: 150px;
  width: 300px;
  border-radius: 20px;
}
.video_text{
  font-size: 30px;
  font-weight: bold;
  display: flex;
  position:absolute;
  left: 3%;
  color: black;
}
.video_info{
  width: 65%;
  font-size: 20px;
  top: 150%;
  display: flex;
  position: absolute;
  left: 3%;
  color: white;
}
.video_image{
  display: flex;
  position: absolute;
  height: 150px;
  width: 300px;
  right: 1%;
  border-radius: 20px;
}
.ai_text{
  font-size: 30px;
  font-weight: bold;
  display: flex;
  position:absolute;
  left: 35%;
  color: black; 
}
.ai_info{
  font-size: 20px;
  display: flex;
  position: absolute;
  left: 35%;
  width: 65%;
  top: 189%;
  color: white;
}
.ai_image{
  display: flex;
  position:absolute;
  left: 1%;
  height: 150px;
  width: 300px;
  border-radius: 20px;
}
.map{
  border: 1px solid black;
  height: 250px;
  background-color: grey;
}
.map iframe{
  position: absolute;
  right : 50px;
  height: 217px;
}

.map div{
  font-size: 20px;
  font-weight: bold;
  position:absolute;
  left: 67px;
  color: white;
}

.contact {
  border: 1px solid black;
  height: 250px;
  background-color: grey;
}

.contact h2 {
  color:white;
}

.contact p {
  color:white;
}

form {
  display: flex;
}
 
.form-group {
  flex-basis: calc(50% - 10px); 
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.about-me{
  border: 1px solid black;
  height: 250px;
  background-color: grey;
}
 