body {
    margin: 0;
    padding: 0;
    /* background: linear-gradient(to bottom, #000000, #333333); */
}

.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #000000, #333333);
}

.main {
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
    font-family: Arial, sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

#s_content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#s_content img{
    margin-top: 5%;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}

option {
    background-color: grey;
    font-weight: bold;
}

label,
input,
textarea,
select {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    font-weight: bold;
}

label {
    margin-bottom: 15px;
    padding: 0;
    text-align: left;
    border: none;
    background-color: transparent;
    color: #ffffff;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: #3498db;
    color: #ffffff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
    .main {
        width: 80%;
    }
    #s_content #image{
        display: none;
    }

    form {
        max-width: none;
        width: 80%;
    }
}