<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online ai tools</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/images.css') }}">
</head>

<body>
    <nav id="nav">
        {% include 'Navbar.html' %}
    </nav>
    <div id="main">
        <div id="top">
            <h1>AI TOOLS</h1>
            <p>THIS PARTICULAR SECTION IS DEDICATED SOLELY TO THE REMARKABLE WORLD OF ARTIFICIAL INTELLIGENCE!</p>
        </div>
        <div id="middle">
            <h3>AI TOOLS
            </h3>
            <div id="block"></div>
            <div id="line"></div>
        </div>
        <div id="card-container">
            {% for suggestion in data %}
            <div id="card">
                <img src="{{ suggestion.image_path }}"></img>
                <h3>{{ suggestion.site }}</h3>
                <p>{{ suggestion.description}}</p>
                <button id="btn" href="{{ suggestion.link }}">Visit</button>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>