<!DOCTYPE html>
<html>
<head>
  <title>Online Support</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="navbar">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Suggest</a></li>
      <li><a href="#">Connect</a></li>
    </ul>
  </div>
  <div class="section">
    <h1 class="image_text">IMAGE EDITING</h1>
    <p class="image_info">If you're looking to enhance your images to a professional level, you're in luck! We have curated a list of freely available websites that allow you to edit your images with ease, and without any charges.</p>
    <img class="image_image" src="{{ url_for('static', filename='images/image.jpg') }}" alt="image">
  </div>
  <div class="section">
    <h2 class="video_text">VIDEO EDITING</h2>
    <p class="video_info">Welcome to our curated collection of free video editing websites! With these resources, you can elevate your video content to a whole new level.so you can create something truly unique and captivating.</p>
    <img class="video_image" src="{{ url_for('static', filename='images/video.jpg') }}" alt="image">
  </div>
  <div class="section">
    <h2 class="ai_text">AI TOOLS</h2>
    <p class="ai_info">Whether you're a tech enthusiast or a professional looking to streamline your workflow,
       this section is certain to offer a plethora of valuable resources to assist you in achieving your goals.</p>
    <img class="ai_image" src="{{ url_for('static', filename='images/ai.png') }}" alt="image">
  </div>
  <section class="map">
    <div>
    <h2 class=>LOCATION</h2>
    <h3>Delhi,Dwarka</h3>
    </div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56062.0728988746!2d77.00389545094887!3d28.573379257156272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1a9c31eec4e1%3A0x39493976cba4c89a!2sDwarka%2C%20New%20Delhi%2C%20Delhi!5e0!3m2!1sen!2sin!4v1687195658148!5m2!1sen!2sin" width="500" height="250" allowfullscreen=""  referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>
  <!-- Contact Section -->
  <div class="contact">
    <h2 class="contact_text">CONTACT US</h2>
    <p>Fill out this form and we'll get back to you shortly!</p>
    <form>
      <div class="form-group">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required>
      </div>
  
      <div class="form-group">
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required>
      </div>
  
      <div class="form-group">
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="4" required></textarea>
      </div>
  
      <button type="submit">Submit</button>
    </form>
  </div>
</body>
</html>
</body>
</html>
