<!DOCTYPE html>

<head>
  <title>Tools</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <div class="navbar">
    <ul>
      <li><a href="{{ url_for('suggest') }}">Suggest</a></li>
      <li><a href="{{ url_for('images')}}">Connect</a></li>
    </ul>
  </div>
  <div class="top">
    <p>
      ONLINE TOOLS is a reference website based in Delhi that offers users a convenient way to access online resources
      that are useful in both their personal and professional lives. The website provides high-quality services for
      authors, publishers, and other businesses, ensuring that they have access to the necessary tools to succeed.
    </p>
    <button id="scrollButton">
      CONTACT US
    </button>
  </div>
  <div class="section-image">
    <div class="image_text">
      <h1>IMAGE EDITING</h1>
      <p>If you're looking to enhance your images to a professional level, you're in luck! We have
        curated a list of freely available websites that allow you to edit your images with ease, and without any
        charges.
      </p>
    </div>
    <img class="image_image" src="{{ url_for('static', filename='images/image.jpg') }}" alt="image">
  </div>
  <div class="section-video">
    <div class="video_text">
      <h2>VIDEO EDITING</h2>
      <p>Welcome to our curated collection of free video editing websites! With these resources, you
        can elevate your video content to a whole new level.so you can create something truly unique and captivating.
      </p>
    </div>
    <img class="video_image" src="{{ url_for('static', filename='images/video.jpg') }}" alt="image">
  </div>
  <div class="section-ai">
    <div class="ai_text">
      <h2>AI TOOLS</h2>
      <p>Whether you're a tech enthusiast or a professional looking to streamline your workflow,
        this section is certain to offer a plethora of valuable resources to assist you in achieving your goals.</p>
    </div>
    <img class="ai_image" src="{{ url_for('static', filename='images/ai.png') }}" alt="image">
  </div>

  <section class="map">
    <div>
      <h2>LOCATION</h2>
      <h3>Delhi,Dwarka</h3>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56062.0728988746!2d77.00389545094887!3d28.573379257156272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1a9c31eec4e1%3A0x39493976cba4c89a!2sDwarka%2C%20New%20Delhi%2C%20Delhi!5e0!3m2!1sen!2sin!4v1687195658148!5m2!1sen!2sin"
      width="500" height="250" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>

  <div class="contact-container">
    <div class="contact-info">
      <h1>Contact Us</h1>
      <p>Fill out the form below, and we will get back to you shortly.</p>
    </div>
    <div class="contact-form">
      <form action="#" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required placeholder="Enter Your Name">

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required placeholder="Enter Your Email ">

        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="4" required placeholder="Message"></textarea>

        <button type="submit">Send</button>
      </form>
    </div>
  </div>

  <div class="about-me">
    <h2>About Us</h2>
    <p>We are a team dedicated to solving your problems and making your life and work easier. Our website provides a
      vast array of resources to enhance your creativity and productivity. We have curated a list of top-notch
      references to other image editing video editing and Al websites that can help you take your projects to the next
      level. These websites include industry-leading tools and software, as well as informative blogs and tutorials that
      cover everything from the basics to advanced techniques. Whether you're a beginner or a professional, our mission
      in to Inspire and equip you with the knowledge and tools needed to create stunning visual content. We are
      committed to being a valuable resource for you and helping you achieve your goals.!</p>
  </div>

  <div class="footer">
    <div class="left-section">
      <span class="nav-item">TOOLS</span>
    </div>
    <div class="right-section">
      <a href="https://github.com" target="_blank" class="nav-item">0
      </a>
      <a href="https://linkedin.com" target="_blank" class="nav-item">0
      </a>
      <a href="https://instagram.com" target="_blank" class="nav-item">0
      </a>
    </div>
  </div>
  </div>

  <script>
    // Get a reference to the button and the second div
    const scrollButton = document.getElementById("scrollButton");
    const div2 = document.querySelector(".contact-form");

    // Add a click event listener to the button
    scrollButton.addEventListener("click", () => {
      // Use the `scrollIntoView` method to scroll to the second div smoothly
      div2.scrollIntoView({ behavior: "smooth" });
    });

  </script>

</body>

</html>