<!DOCTYPE html>

<head>
  <title>Tools</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  {% include "Navbar.html" %}
  <div class="nav">
  </div>
  <div class="top">
    <!-- <div class="top-content"> -->
      <h1 class="heading">Tools that Ignite <span style="color:blue">Progress</span></h1>
      <p>
        TOOLS is a reference website that offers a convenient way to access online resources.
      </p>
      <button id="scrollButton">
        CONTACT US
      </button>
    <!-- </div> -->
  </div>
  <div class="section-image" onclick="window.location.href='/images'">
    <div class="image_text">
      <h1>IMAGE EDITING</h1>
      <p>If you're looking to enhance your images to a professional level, you're in luck! We have
        curated a list of freely available websites that allow you to edit your images with ease, and without any
        charges.
      </p>
    </div>
    <img class="image_image" src="{{ url_for('static', filename='images/image.jpg') }}" alt="image">
  </div>
  <div class="section-video" onclick="window.location.href='/video'">
    <div class="video_text">
      <h2>VIDEO EDITING</h2>
      <p>Welcome to our curated collection of free video editing websites! With these resources, you
        can elevate your video content to a whole new level.so you can create something truly unique and captivating.
      </p>
    </div>
    <img class="video_image" src="{{ url_for('static', filename='images/video.jpg') }}" alt="image">
  </div>
  <div class="section-ai" onclick="window.location.href='/ai'">
    <div class="ai_text">
      <h2>AI TOOLS</h2>
      <p>Whether you're a tech enthusiast or a professional looking to streamline your workflow,
        this section is certain to offer a plethora of valuable resources to assist you in achieving your goals.</p>
    </div>
    <img class="ai_image" src="{{ url_for('static', filename='images/ai.png') }}" alt="image">
  </div>

  <section class="map">
    <div>
      <h2>LOCATION</h2>
      <h3>Delhi,Dwarka</h3>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56062.0728988746!2d77.00389545094887!3d28.573379257156272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1a9c31eec4e1%3A0x39493976cba4c89a!2sDwarka%2C%20New%20Delhi%2C%20Delhi!5e0!3m2!1sen!2sin!4v1687195658148!5m2!1sen!2sin"
      width="500" height="250" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>

  <div class="contact-container">
    <div class="contact-info">
      <h1>Contact Us</h1>
      <p>Fill out the form below, and we will get back to you shortly.</p>
    </div>
    <div class="contact-form">
      <form action="#" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required placeholder="Enter Your Name">

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required placeholder="Enter Your Email ">

        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="4" required placeholder="Message"></textarea>

        <button type="submit">Send</button>
      </form>
    </div>
  </div>

  <!-- <div class="footer">
    <div class="left-section">
      <span class="nav-item">TOOLS</span>
    </div>
    <div class="right-section">
      <a href="https://github.com" target="_blank" class="nav-item">
      </a>
      <a href="https://linkedin.com" target="_blank" class="nav-item">
      </a>
      <a href="https://instagram.com" target="_blank" class="nav-item">
      </a>
    </div>
  </div>
  </div> -->
  <div>  {% include "footer.html" %}
    </div>  

  <script>
    const scrollButton = document.getElementById("scrollButton");
    const div2 = document.querySelector(".contact-form");

    scrollButton.addEventListener("click", () => {
      div2.scrollIntoView({ behavior: "smooth" });
    });

  </script>

</body>

</html>